---
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Card Portal</title>
	</head>
	<body>
		<main>
			<h1>Card Portal</h1>
			<section>

			</section>
			<section class="reveal">
				<div class="moon"></div>
				<div class="mountains">
					<img src="https://vivtec.co.za/mountian-back.svg" alt="">
					<img src="https://vivtec.co.za/mountian-middle.svg" alt="">
					<img src="https://vivtec.co.za/mountian-front.svg" alt="">
				</div>
				<div class="remain"></div>
			</section>
		</main>
	</body>
</html>
